@charset "UTF-8";


.flexbox .item { 
  flex-grow: 1;
  text-align: center;
  position: relative;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  max-height: 11.3%;
  max-width: 25%;
}

.flexbox {
  display: flex;
  
  max-width: 20%;
}


.item {
  padding-left: 1%;
  box-sizing: border-box;  
  background: #222;    
}
img{
  padding: 1%;
  max-width: 15%;
}

@media (min-width: 666px) {
  body nav {
    width: 100%;
    position: absolute;
    background: #222;
    margin: 0px;
    max-width: 100%;
    z-index: 2;
  }
  body nav ol {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  body nav ol li {
    display: inline-block;
    padding: 30px;
    flex-grow: 1;
    text-align: center;
    position: relative;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  body nav ol li:hover li {
    position: relative;
  }
  body nav ol li:hover li:first-of-type:before {
    display: none;
  }

  @keyframes clipin {
    0% {
      -webkit-clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
      clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
    }
    50% {
      -webkit-clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
      clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
    }
    75% {
      -webkit-clip-path: polygon(35% 35%, 35% 0, 100% 0, 100% 100%, 0 100%, 0 35%);
      clip-path: polygon(35% 35%, 35% 0, 100% 0, 100% 100%, 0 100%, 0 35%);
    }
    100% {
      -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
      clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
  }
  body nav ol li ol:after {
    font-family: FontAwesome;
    vertical-align: center;
    font-size: 150px;
    color: #008a00;
    position: absolute;
    padding-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    left: -100%;
    top: 0;
    background: #008a00;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  body nav ol li:nth-of-type(1):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(1):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(1):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(1):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #009b00;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(2):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(2):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(2):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(2):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #009200;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(3):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(3):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(3):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(3):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #008a00;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(4):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(4):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(4):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(4):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #008200;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(5):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(5):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(5):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(5):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #007a00;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(6):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(6):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(6):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(6):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #007200;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(7):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(7):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(7):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(7):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #006a00;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(8):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(8):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(8):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(8):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #006100;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(9):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(9):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(9):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(9):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #005900;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:nth-of-type(10):hover a {
    color: #222;
  }
  body nav ol li:nth-of-type(10):hover ol li a {
    color: #fff;
  }
  body nav ol li:nth-of-type(10):hover:before {
    transform: translateY(0) rotate(0deg);
  }
  body nav ol li:nth-of-type(10):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #005100;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-125%) rotate(-5deg);
  }
  body nav ol li:hover ol {
    transform: translateY(0) translateZ(-1px);
  }
  body nav ol li:hover ol:after {
    transform: rotate(0deg);
  }
  body nav ol li:hover ol li:nth-of-type(1n) {
    transform: none;
    margin: 0px;
  }
  body nav ol li:hover ol li:nth-of-type(1n):hover:after {
    opacity: 1;
    top: 0vh;
  }
  body nav ol li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
  }
  body nav ol li ol {
    display: block;
    position: absolute;
    top: 100%;
    transform: translateY(-110%) translateZ(-5px);
    transform-origin: top right;
    z-index: -1;
    width: 120%;
    left: 0;
  }
  body nav ol li ol:hover li:nth-of-type(1n):hover {
    padding: 40px 30px;
  }
  body nav ol li ol li {
    display: block;
    margin: 15px 0;
  }
  body nav ol li ol li a {
    font-size: 10px;
  }
  body nav ol li ol li:before {
    display: none;
  }
  body nav ol li ol li:nth-of-type(1) {
    transition-delay: 0.1s;
    background: #009b00;
  }
  body nav ol li ol li:nth-of-type(1):before {
    animation-delay: 0.05s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #009b00 45%, #009b00 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #009b00 transparent transparent #009b00;
  }
  body nav ol li ol li:nth-of-type(2) {
    transition-delay: 0.2s;
    background: #009200;
  }
  body nav ol li ol li:nth-of-type(2):before {
    animation-delay: 0.1s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #009200 45%, #009200 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #009200 transparent transparent #009200;
  }
  body nav ol li ol li:nth-of-type(3) {
    transition-delay: 0.3s;
    background: #008a00;
  }
  body nav ol li ol li:nth-of-type(3):before {
    animation-delay: 0.15s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #008a00 45%, #008a00 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #008a00 transparent transparent #008a00;
  }
  body nav ol li ol li:nth-of-type(4) {
    transition-delay: 0.4s;
    background: #008200;
  }
  body nav ol li ol li:nth-of-type(4):before {
    animation-delay: 0.2s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #008200 45%, #008200 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #008200 transparent transparent #008200;
  }
  body nav ol li ol li:nth-of-type(5) {
    transition-delay: 0.5s;
    background: #007a00;
  }
  body nav ol li ol li:nth-of-type(5):before {
    animation-delay: 0.25s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #007a00 45%, #007a00 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #007a00 transparent transparent #007a00;
  }
  body nav ol li ol li:nth-of-type(6) {
    transition-delay: 0.6s;
    background: #007200;
  }
  body nav ol li ol li:nth-of-type(6):before {
    animation-delay: 0.3s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #007200 45%, #007200 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #007200 transparent transparent #007200;
  }
  body nav ol li ol li:nth-of-type(7) {
    transition-delay: 0.7s;
    background: #006a00;
  }
  body nav ol li ol li:nth-of-type(7):before {
    animation-delay: 0.35s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #006a00 45%, #006a00 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #006a00 transparent transparent #006a00;
  }
  body nav ol li ol li:nth-of-type(8) {
    transition-delay: 0.8s;
    background: #006100;
  }
  body nav ol li ol li:nth-of-type(8):before {
    animation-delay: 0.4s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #006100 45%, #006100 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #006100 transparent transparent #006100;
  }
  body nav ol li ol li:nth-of-type(9) {
    transition-delay: 0.9s;
    background: #005900;
  }
  body nav ol li ol li:nth-of-type(9):before {
    animation-delay: 0.45s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #005900 45%, #005900 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #005900 transparent transparent #005900;
  }
  body nav ol li ol li:nth-of-type(10) {
    transition-delay: 1s;
    background: #005100;
  }
  body nav ol li ol li:nth-of-type(10):before {
    animation-delay: 0.5s;
    background: linear-gradient(45deg, transparent -50%, transparent 45%, #005100 45%, #005100 55%, transparent 55%, transparent 125%);
    background-repeat: no-repeat;
    border-color: #005100 transparent transparent #005100;
  }
  body nav ol li ol li:first-of-type {
    margin-top: 100px;
  }
  body nav ol li ol li:nth-of-type(even) {
    transform-origin: top left;
    transform: rotate(5deg);
  }
  body nav ol li ol li:nth-of-type(odd) {
    transform-origin: top right;
    transform: rotate(-5deg);
  }
}
@media (max-width: 666px) {
  body nav {
    position: absolute;
    top: 0;
    height: 45px;
    left: 0;
    background: #222;
    width: 100%;
  }
  body nav:hover ol li:nth-of-type(1n) {
    transform: rotate(0deg);
    margin: 0px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  body nav:hover ol li:nth-of-type(1) {
    transition-delay: 0.0666666667s;
  }
  body nav:hover ol li:nth-of-type(1):hover a {
    color: #009b00;
  }
  body nav:hover ol li:nth-of-type(2) {
    transition-delay: 0.1333333333s;
  }
  body nav:hover ol li:nth-of-type(2):hover a {
    color: #009200;
  }
  body nav:hover ol li:nth-of-type(3) {
    transition-delay: 0.2s;
  }
  body nav:hover ol li:nth-of-type(3):hover a {
    color: #008a00;
  }
  body nav:hover ol li:nth-of-type(4) {
    transition-delay: 0.2666666667s;
  }
  body nav:hover ol li:nth-of-type(4):hover a {
    color: #008200;
  }
  body nav:hover ol li:nth-of-type(5) {
    transition-delay: 0.3333333333s;
  }
  body nav:hover ol li:nth-of-type(5):hover a {
    color: #007a00;
  }
  body nav:hover ol li:nth-of-type(6) {
    transition-delay: 0.4s;
  }
  body nav:hover ol li:nth-of-type(6):hover a {
    color: #007200;
  }
  body nav:hover ol li:nth-of-type(7) {
    transition-delay: 0.4666666667s;
  }
  body nav:hover ol li:nth-of-type(7):hover a {
    color: #006a00;
  }
  body nav:hover ol li:nth-of-type(8) {
    transition-delay: 0.5333333333s;
  }
  body nav:hover ol li:nth-of-type(8):hover a {
    color: #006100;
  }
  body nav:hover ol li:nth-of-type(9) {
    transition-delay: 0.6s;
  }
  body nav:hover ol li:nth-of-type(9):hover a {
    color: #649633;
  }
  body nav:hover ol li:nth-of-type(10) {
    transition-delay: 0.6666666667s;
  }
  body nav:hover ol li:nth-of-type(10):hover a {
    color: #5abd29;
  }
  body nav:hover:before {
    transform: rotate(45deg);
    box-shadow: 0 0 0 0;
  }
  body nav:hover:after {
    transform: rotate(-45deg);
  }
  body nav:before, body nav:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    top: 10px;
    left: calc(50% - 15px);
    border-radius: 5px;
    box-shadow: 0 10px 0 0 #fff;
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 100ms ease-in-out;
    transition-delay: 0.1s, 0s;
    transform-origin: 0% 50%;
  }
  body nav:after {
    box-shadow: none;
    top: 30px;
    transform-origin: 0% 50%;
  }
  body nav:hover ol {
    transform: translateY(0) translateZ(-1px);
  }
  body nav:hover ol ol {
    transform: none;
  }
  body nav ol {
    position: absolute;
    width: 100%;
    top: 0px;
    display: table;
    left: 0;
    margin: 0px;
    transform: translateY(calc(-100% - 45px)) translateZ(-1px);
    text-align: center;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: #000;
    padding: 60px 0 20px;
    height: auto;
  }
  body nav ol li {
    position: relative;
    display: inline-block;
    width: 100%;
    clear: both;
    height: 50px;
    padding: 10px 0;
    margin: 10px 0;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: #000;
  }
  body nav ol li:nth-of-type(even) {
    transform: rotate(-5deg);
  }
  body nav ol li:nth-of-type(odd) {
    transform: rotate(5deg);
  }
  body nav ol li:hover ol {
    height: auto;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }
  body nav ol li a {
    color: #fff;
    text-decoration: none;
  }
  body nav ol ol {
    position: relative;
    transform: none;
    background: transparent;
    display: inline-block;
    width: 100%;
    height: auto;
    top: auto;
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  body nav ol ol li {
    font-size: 12px;
    height: auto;
  }
  body nav ol ol li:first-of-type {
    padding-top: 20px;
  }
}